<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChatApp</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/style.css" rel="stylesheet" />
</head>
<body class="text-center">
    <div class="chatwindow">
      <h2 >Delicate Chat App</h2>
      <h2>Room : {{ room }}</h2><br>
      <div id="messages"></div>
      <textarea id="chat" cols="70" rows="10" placeholder="No messages yet. Start one..."></textarea><br /><br />
      <br />
      <form id="message_input_form">
          <input type="text" id="message_input" size="60" placeholder="Enter your message here" />
          <button type="submit" id="send" class="btn btn-success">Send</button><br /><br />
      </form>
      <center>
          <button type="button" class="btn btn-danger" onclick=leave_room()>Leave this Chat</button>
    </center>
    </div>  
  </body>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
<script>
    const socket = io.connect("http://127.0.0.1:5000");

    socket.on('connect', function () {
        socket.emit('join_room', {
            username: "{{ username }}",
            room: "{{ room }}"
        });

        let message_input = document.getElementById('message_input');

        document.getElementById('message_input_form').onsubmit = function (e) {
            e.preventDefault();
            let message = message_input.value.trim();
            if (message.length) {
                socket.emit('send_message', {
                    username: "{{ username }}",
                    room: "{{ room }}",
                    message: message
                })
            }
            message_input.value = '';
            message_input.focus();
        }
    });

    window.onbeforeunload = function () {
        socket.emit('leave_room', {
            username: "{{ username }}",
            room: "{{ room }}"
        })
    };

    socket.on('receive_message', function (data) {
        console.log(data);
        const newNode = document.createElement('div');
        newNode.innerHTML = `<b>${data.username}:&nbsp;</b> ${data.message}`;
        // document.getElementById('messages').append(newNode);
        document.getElementById('chat').value = document.getElementById('chat').value + `${data.username}: ${data.message} \n`;

    });

    function leave_room() {
                socket.emit('left', {}, function() {
                    socket.disconnect();
                    // go back to the login page
                    window.location.href = "{{ url_for('home') }}";
                });
            }

    socket.on('join_room_announcement', function (data) {
        console.log(data);
        if (data.username !== "{{ username }}") {
            const newNode = document.createElement('div');
            newNode.innerHTML = `<b>${data.username}</b> has joined the room`;
            document.getElementById('messages').appendChild(newNode);
        }
    });

    socket.on('leave_room_announcement', function (data) {
        console.log(data);
        const newNode = document.createElement('div');
        newNode.innerHTML = `<b>${data.username}</b> has left the room`;
        document.getElementById('messages').appendChild(newNode);
    });
</script>
</html>